extends layout

block content
  h1= title
  p Welcome to #{title}
  
  ul
    li
      button(value='espresso' onclick='whatcoffee(value)') espresso  
    li
      button(value='americano' onclick='whatcoffee(value)') americano
    li
      button(value='latte' onclick='whatcoffee(value)') latte
    li
      button(value='cappuchino' onclick='whatcoffee(value)') cappuchino  
    li  
      button(value='anythingelse' onclick='whatcoffee(value)') anythingelse
  
  h1#like This
  
  script(src='/js/coffee.js')
  -// script(src='/js/coffee.json')  
  
  script.
    var xmlhttp = new XMLHttpRequest();
    var url = "/js/coffee.json";

    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        myfunc(xmlhttp.responseText);
      }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();

    function myfunc(resp) {
      var arr = JSON.parse(resp);
      var out = "<table class='tableName'>";

      for (var i = 0; i < arr.length; i++) {
        out+=
          `<tr>
           <td> ${arr[i].nutritionalFacts.Caffeine} </td>
          </tr>`;
      }
      document.getElementById('like').innerHTML = out;
    }
      

      
    
  
